[core]
	editor = nano -w
	pager = less
[user]
	name = xanderxfz
	email = xanderxfz.ua@gmail.com
[merge]
	tool = diff
[credential]
	helper = store
[push]
	autoSetupRemote = true
	default = current
[pull]
	rebase = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[branch]
	sort = -committerdate
